/* font-family: 'Balsamiq Sans', cursive;

font-family: 'Roboto Slab', serif; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3d405b;
}

.box {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  flex-wrap: wrap;
  gap: 1.2em;
}

.box h1 {
  font-family: "Balsamiq Sans", cursive;
  color: #f4f1de;
}

.box h2 a {
  text-decoration: none;
  font-family: "Balsamiq Sans", cursive;
  color: #f4f1de;
}

h2 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #f2cc8f;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin: 1.4em;
  padding: 1em 1.4em;
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  background-color: #e07a5f;
  border-radius: 0.6em;
  color: #03071e;
}
form label {
  opacity: 0.8;
}

form input {
  font-family: "Roboto Slab", serif;
  border: none;
  border-radius: 0.4em;
  padding: 0.5em;
  text-align: center;
}

form button {
  padding: 0.4em;
  font-family: "Roboto Slab", serif;
  background: #c9ada7;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  border: 2px solid #4a4e69;
}
